@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans
    min-h-screen
    bg-neutral-50 text-neutral-950
    dark:bg-neutral-950 dark:text-neutral-50;
}

.btn {
  @apply px-12 py-4
    duration-300 ease-in-out transition-all
    border-2
    text-center justify-center
    bg-neutral-200 text-neutral-800 border-neutral-200
    hover:border-neutral-300 hover:text-neutral-950
    dark:bg-neutral-900 dark:text-neutral-300 dark:border-neutral-900 
    dark:hover:border-neutral-700 dark:hover:text-neutral-100;
}

h1,
h2 {
  @apply font-semibold flex flex-col items-center text-transparent bg-clip-text bg-gradient-to-br
    from-green-500 to-green-600
    dark:from-green-100 dark:to-green-300;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

section {
  @apply py-28 px-5 flex flex-col items-center gap-5;
}

section.first {
  @apply min-h-screen justify-center;
  background-image: radial-gradient(rgb(0 0 0 / 0.2) 7%, transparent 7%);
  background-size: 30px 30px;
}

html.dark section.first {
  background-image: radial-gradient(rgb(255 255 255 / 0.1) 7%, transparent 7%);
}

.span-icon {
  @apply flex items-center justify-center gap-2;
}

.container {
  @apply mx-auto max-w-screen-xl;
}

main.container {
  @apply flex flex-col gap-5;
}

main p {
  @apply text-xl text-justify;
}

/* Cards */

.card p {
  @apply text-base;
}

.card {
  @apply px-5 py-5 relative border border-neutral-200 dark:border-neutral-800;
}

.card::before {
  content: "";
  background-image: radial-gradient(800px circle at var(--x) var(--y), rgba(203, 255, 169, 0.12), transparent 40%);
  border-radius: inherit;
  @apply absolute top-0 left-0 w-full h-full -z-10 transition-opacity duration-500 opacity-0;
}

.card.expansible {
  @apply pb-2;
}

.card:hover::before {
  @apply opacity-100;
}

html.dark .card::before {
  background-image: radial-gradient(800px circle at var(--x) var(--y), rgba(203, 255, 169, 0.06), transparent 40%);
}
